@import "../../../assets/scss/variables.scss";

.balance {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 264px);
  min-height: 315px;
  &-avatar {
    position: relative;
    &.MuiAvatar-colorDefault {
      background-color: $white;
      width: 80px;
      height: 80px;
      box-shadow: 3px 7px 28px -12px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 3px 7px 28px -12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 7px 28px -12px rgba(0, 0, 0, 0.75);
    }
    &-icon {
      &-button {
        &-wallet {
          color: $lightblue;
          min-width: 1.5em;
          min-height: 1.5em;
        }
      }
    }
  }
  &-text {
    color: $lightgray;
    padding: 24px 0;
  }
}
